@tailwind base;
@tailwind components;
@tailwind utilities;

/* Ajustements globaux mobile */
body {
  -webkit-tap-highlight-color: transparent;
  user-select: none;
}

/* Scrollbar fluide pour le carrousel des catégories */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

